<div class="generalIndustries" id="generalIndustries" style="display:none;">
    <div class="Services">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="admin/generalindustries/generalIndustriesServicebox1" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 1</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- generalIndustriesServices.box1.title %>">
                <textarea name="content" placeholder="Write a message"><%- generalIndustriesServices.box1.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="admin/generalindustries/generalIndustriesServicebox2" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 2</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- generalIndustriesServices.box2.title %>">
                <textarea name="content" placeholder="Write a message"><%- generalIndustriesServices.box2.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="admin/generalindustries/generalIndustriesServicebox3" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 3</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- generalIndustriesServices.box3.title %>">
                <textarea name="content" placeholder="Write a message"><%- generalIndustriesServices.box3.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
    <div class="benefits">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="admin/generalindustries/generalIndustriesBenefits" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">HeadQuaters</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- generalIndustriesBenefits.title %>">
                <textarea name="address" placeholder="Write a message"><%- generalIndustriesBenefits.content %></textarea>
                <input type="text" id="slide2-title" placeholder="Your name" name="p1" value="<%- generalIndustriesBenefits.p1 %>">
                <input type="text" id="slide2-title" placeholder="Your name" name="p2" value="<%- generalIndustriesBenefits.p2 %>">
                <input type="text" id="slide2-title" placeholder="Your name" name="p3" value="<%- generalIndustriesBenefits.p3 %>">
                <input type="text" id="slide2-title" placeholder="Your name" name="p4" value="<%- generalIndustriesBenefits.p4 %>">
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
    <div class="Dropdown">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="admin/generalindustries/generalIndustriesDropdownbox1" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Dropdown 1</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- generalIndustriesDropdown.box1.title %>">
                <textarea name="content" placeholder="Write a message"><%- generalIndustriesDropdown.box1.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="admin/generalindustries/generalIndustriesDropdownbox2" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Dropdown 2</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- generalIndustriesDropdown.box2.title %>">
                <textarea name="content" placeholder="Write a message"><%- generalIndustriesDropdown.box2.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="admin/generalindustries/generalIndustriesDropdownbox3" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">DropDown 3</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- generalIndustriesDropdown.box3.title %>">
                <textarea name="content" placeholder="Write a message"><%- generalIndustriesDropdown.box3.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
</div>