<div class="home" id="home">
    <div class="Slider">
        <div class="contact-one__right wow slideInRight slide1" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/index/indexSliderbox1" method="post"
                class="contact-one__right-form">
                <label for="slide1-title">Slide 1</label>
                <input type="text" id="slide1-title" placeholder="Your name" value="<%- indexSlider.box1.title %>" name="title">
                <textarea name="content" placeholder="Write a message"><%- indexSlider.box1.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/index/indexSliderbox2" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Slide 2</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- indexSlider.box2.title %>">
                <textarea name="content" placeholder="Write a message"><%- indexSlider.box2.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/index/indexSliderbox3" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Slide 3</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- indexSlider.box3.title %>">
                <textarea name="content" placeholder="Write a message"><%- indexSlider.box3.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
    <div class="Services">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/index/indexServicesbox1" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 1</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- indexServices.box1.title %>">
                <textarea name="content" placeholder="Write a message"><%- indexServices.box1.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/index/indexServicesbox2" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 2</label>
                <input type="text" id="slide2-title" placeholder="Your name"  value="<%- indexServices.box2.title %>"" name="title">
                <textarea name="content" placeholder="Write a message" ><%- indexServices.box2.content %>"</textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/index/indexServicesbox3" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 3</label>
                <input type="text" id="slide2-title" placeholder="Your name" value="<%- indexServices.box3.title %>"" name="title">
                <textarea name="content" placeholder="Write a message"><%- indexServices.box3.content %>"</textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
    <div class="weCare">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/index/indexWeCare" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">We care</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- indexWeCare.title %>">
                <textarea name="content" placeholder="Write a message"><%- indexWeCare.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
</div>