<div class="oilAndGas" id="oilAndGas" style="display:none;">
    <div class="Services">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/oilandgas/oilAndGasServices/box1" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 1</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- oilAndGasServices.box1.title %>">
                <textarea name="content" placeholder="Write a message"><%- oilAndGasServices.box1.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/oilandgas/oilAndGasServices/box2" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 2</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- oilAndGasServices.box2.title %>">
                <textarea name="content" placeholder="Write a message"><%- oilAndGasServices.box2.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/oilandgas/oilAndGasServices/box3" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 3</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- oilAndGasServices.box3.title %>">
                <textarea name="content" placeholder="Write a message"><%- oilAndGasServices.box3.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
    <div class="benefits">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/oilandgas/oilAndGasBenefits" method="post" class="contact-one__right-form">
                <label for="slide2-title">HeadQuaters</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- oilAndGasBenefits.title %>">
                <textarea name="address" placeholder="Write a message"><%- oilAndGasBenefits.content %></textarea>
                <input type="text" id="slide2-title" placeholder="Your name" name="p1" value="<%- oilAndGasBenefits.p1 %>">
                <input type="text" id="slide2-title" placeholder="Your name" name="p2" value="<%- oilAndGasBenefits.p2 %>">
                <input type="text" id="slide2-title" placeholder="Your name" name="p3" value="<%- oilAndGasBenefits.p3 %>">
                <input type="text" id="slide2-title" placeholder="Your name" name="p4" value="<%- oilAndGasBenefits.p4 %>">
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
    <div class="Dropdown">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/oilandgas/oilAndGasDropdown/box1" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Dropdown 1</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- oilAndGasDropdown.box1.title %>">
                <textarea name="content" placeholder="Write a message"><%- oilAndGasDropdown.box1.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/oilandgas/oilAndGasDropdown/box2" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Dropdown 2</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- oilAndGasDropdown.box2.title %>">
                <textarea name="content" placeholder="Write a message"><%- oilAndGasDropdown.box2.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/oilandgas/admin/oilandgas/oilAndGasDropdown/box3" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">DropDown 3</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- oilAndGasDropdown.box3.title %>">
                <textarea name="content" placeholder="Write a message"><%- oilAndGasDropdown.box3.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
</div>