<div class="ourBusiness" id="ourBusiness" style="display: none;">
    <div class="Services">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms" data-wow-duration="2500ms">
            <form action="/ourBusinessServices/box1" method="post" class="contact-one__right-form">
                <label for="slide2-title">Service 1</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title"
                    value="<%- ourBusinessServices.box1.title %>">
                <textarea name="content"
                    placeholder="Write a message"><%- ourBusinessServices.box1.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms" data-wow-duration="2500ms">
            <form action="/ourBusinessServices/box2" method="post" class="contact-one__right-form">
                <label for="slide2-title">Service 2</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title"
                    value="<%- ourBusinessServices.box2.title %>">
                <textarea name="content"
                    placeholder="Write a message"><%- ourBusinessServices.box2.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms" data-wow-duration="2500ms">
            <form action="/ourBusinessServices/box3" method="post" class="contact-one__right-form">
                <label for="slide2-title">Service 3</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title"
                    value="<%- ourBusinessServices.box3.title %>">
                <textarea name="content"
                    placeholder="Write a message"><%- ourBusinessServices.box3.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
</div>