<div class="wasteWaterTreatment" id="wasteWaterTreatment" style="display:none;">
    <div class="Services">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/adimnWaterWasteTreatmentRoutes/wasteWaterTreatmentServices/box1" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 1</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- wasteWaterTreatmentServices.box1.title %>">
                <textarea name="content" placeholder="Write a message"><%- wasteWaterTreatmentServices.box1.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/adimnWaterWasteTreatmentRoutes/wasteWaterTreatmentServices/box2" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 2</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- wasteWaterTreatmentServices.box2.title %>">
                <textarea name="content" placeholder="Write a message"><%- wasteWaterTreatmentServices.box2.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/adimnWaterWasteTreatmentRoutes/wasteWaterTreatmentServices/box3" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 3</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- wasteWaterTreatmentServices.box3.title %>">
                <textarea name="content" placeholder="Write a message"><%- wasteWaterTreatmentServices.box3.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/adimnWaterWasteTreatmentRoutes/wasteWaterTreatmentServices/box4" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 4</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- wasteWaterTreatmentServices.box4.title %>">
                <textarea name="content" placeholder="Write a message"><%- wasteWaterTreatmentServices.box4.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/adimnWaterWasteTreatmentRoutes/wasteWaterTreatmentServices/box5" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 5</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- wasteWaterTreatmentServices.box5.title %>">
                <textarea name="content" placeholder="Write a message"><%- wasteWaterTreatmentServices.box5.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/adimnWaterWasteTreatmentRoutes/wasteWaterTreatmentServices/box6" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 6</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- wasteWaterTreatmentServices.box6.title %>">
                <textarea name="content" placeholder="Write a message"><%- wasteWaterTreatmentServices.box6.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/adimnWaterWasteTreatmentRoutes/wasteWaterTreatmentServices/box7" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 7</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- wasteWaterTreatmentServices.box7.title %>">
                <textarea name="content" placeholder="Write a message"><%- wasteWaterTreatmentServices.box7.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
</div>