<%- include('partials/header') %>


<body>
    <%- include('partials/navbar') %>

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg2.webp)">
            </div>
            <div class="page-header-border"></div>
            <div class="page-header-border page-header-border-two"></div>
            <div class="page-header-border page-header-border-three"></div>
            <div class="page-header-border page-header-border-four"></div>
            <div class="page-header-border page-header-border-five"></div>
            <div class="page-header-border page-header-border-six"></div>

            <div class="page-header-shape-1"></div>
            <div class="page-header-shape-2"></div>
            <div class="page-header-shape-3"></div>

            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About us</li>
                    </ul>
                    <h2>About us</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Start Welcome One -->
        <section class="welcome-one">
            <div class="container">
                <div class="row">
                    <!--Start Welcome One Img-->
                    <div class="col-xl-6">
                        <div class="welcome-one__img wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                            <div class="welcome-one__img-inner">
                                <img src="assets/images/resources/about.webp" alt="" />
                            </div>
                        </div>
                    </div>
                    <!--End Welcome One Img-->
                    

                    <!--Start Welcome One Content-->
                    <div class="col-xl-6">
                        <div class="welcome-one__content">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Sunmas Group</span>
                                <h2 class="section-title__title">About Us</h2>
                            </div>
                            <!-- <p class="welcome-one__text">With our extensive experience in undertaking various scale of projects since 2010 we
                                have been delivering trademark services from our headquarters in Singapore.
                                Our reputation has grown over a decade with highest benchmark of client satisfaction.</p> -->

                            <div class="welcome-one__content-bottom-content">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="welcome-one__content-bottom-content-single">
                                            <h3><%- aboutUsWelcome.box1.title %></h3>
                                            <p><%- aboutUsWelcome.box1.content %></p>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="welcome-one__content-bottom-content-single">
                                            <h3><%- aboutUsWelcome.box2.title %></h3>
                                            <p><%- aboutUsWelcome.box2.content %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Welcome One Content-->
                </div>
            </div>
        </section>
        <!--End Welcome One -->

        <!--Why Choose Two Start-->
        <section class="why-choose-two">
            <div class="container">
                <div class="why-choose-two__top">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="why-choose-two__top-left">
                                <div class="why-choose-two__top-img">
                                    <img src="assets/images/resources/whychoose.webp" alt="">
                                    <div class="why-choose-two__video-link">
                                        <!-- <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup"> -->
                                            <div class="why-choose-two__video-icon">
                                                <span class="icon-play-button"></span>
                                                <i class="ripple"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="why-choose-two__right">
                                <div class="section-title text-left">
                                    <!-- <span class="section-title__tagline">Company Benefits</span> -->
                                    <h2 class="section-title__title"><%- aboutUsWhyChoose.title %></h2>
                                </div>
                                <p class="why-choose-two__text"><%- aboutUsWhyChoose.content %></p>
                                <ul class="list-unstyled why-choose-two__points">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-draw-check-mark"></span>
                                        </div>
                                        <div class="text">
                                            <p><%- aboutUsWhyChoose.p1 %></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-draw-check-mark"></span>
                                        </div>
                                        <div class="text">
                                            <p><%- aboutUsWhyChoose.p2 %></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-draw-check-mark"></span>
                                        </div>
                                        <div class="text">
                                            <p><%- aboutUsWhyChoose.p3 %></p>
                                        </div>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why-choose-two__bottom">
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </section>
        <!--Why Choose Two End-->

        <br><br>

                <!--Get To Know Two Start-->
                <section class="get-to-know-two">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="get-to-know-two__left wow slideInLeft" data-wow-delay="100ms"
                                    data-wow-duration="2500ms">
                                    <div class="get-to-know-two__img-box">
                                        <div class="get-to-know-two__img">
                                            <img src="assets/images/resources/get-to-know-two-img.jpg" alt="">
                                        </div>
                                        <!-- <div class="get-to-know-two__small-img">
                                            <img src="assets/images/resources/get-to-know-two-small-img.jpg" alt="">
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="get-to-know-two__right">
                                    <div class="section-title text-left">
                                        <span class="section-title__tagline">get to know us</span>
                                        <h2 class="section-title__title"><%- aboutUsKnowUs.title %></h2>
                                    </div>
                                    <p class="get-to-know-two__text"><%- aboutUsKnowUs.content1 %></p>
                                    <div class="get-to-know-two__bottom">
                                        <div class="get-to-know-two__icon">
                                            <span class="icon-consulting"></span>
                                        </div>
                                        <div class="get-to-know-two__content">
                                            <p class="get-to-know-two__text-2"> <%- aboutUsKnowUs.content2 %></p>
                                        </div>
                                    </div>
                                    <div class="get-to-know-two__points-box">
                                        <ul class="list-unstyled get-to-know-two__points">
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-draw-check-mark"></span>
                                                </div>
                                                <div class="text">
                                                    <p><%- aboutUsKnowUs.p1 %></p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-draw-check-mark"></span>
                                                </div>
                                                <div class="text">
                                                    <p><%- aboutUsKnowUs.p2 %></p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled get-to-know-two__points get-to-know-two__points-two">
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-draw-check-mark"></span>
                                                </div>
                                                <div class="text">
                                                    <p><%- aboutUsKnowUs.p3 %></p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-draw-check-mark"></span>
                                                </div>
                                                <div class="text">
                                                    <p><%- aboutUsKnowUs.p4 %></p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="about.html" class="get-to-know-two__btn thm-btn">About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Get To Know Two End-->
                <%- include('partials/footer') %>
