<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-contact.webp)">
            </div>
            <div class="page-header-border"></div>
            <div class="page-header-border page-header-border-two"></div>
            <div class="page-header-border page-header-border-three"></div>
            <div class="page-header-border page-header-border-four"></div>
            <div class="page-header-border page-header-border-five"></div>
            <div class="page-header-border page-header-border-six"></div>

            <div class="page-header-shape-1"></div>
            <div class="page-header-shape-2"></div>
            <div class="page-header-shape-3"></div>

            <div class="container">
                <div class="page-header__inner-w">
                    <ul class="thm-breadcrumb-w list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">contact</li>
                    </ul>
                    <h2>contact</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->


         <!--We Care Start-->
         <section class="we-carec">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="we-carec__inner">
                            <div class="we-carec__img">
                                <img src="assets/images/contact-us/singapore.png" alt="">
                            </div>
                            <div class="we-carec__content">
                                <h3 class="we-carec__title">Head Quarters</h3>
                                <h4 class="we-carec__head"><%- contactHeadQuaters.name %></h4>
                                <p>Address: <%- contactHeadQuaters.address %> <br> <%- contactHeadQuaters.country %> <br>
                                   Email: <%- contactHeadQuaters.Email %> <br>
                                   Phone: <%- contactHeadQuaters.phnNo %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--We Care End-->



 <!--Blog Page Start-->
                <section class="blog-one blog-one__blog-page">
                    <div class="container">
                        <div class="row">
                            <h4>Group Companies</h4>
                            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <!--Blog One Start-->
                                <div class="blog-one__single">
                                    <div class="blog-one__img">
                                        <img src="assets/images/contact-us/abudhabi.png" alt="">
                                    </div>
                                    <div class="blog-one__content">
                                        <h3 class="blog-one__title">
                                            <a href="#"><%- contactGroupCompanies.box1.name %></a>
                                        </h3>
                                        <div class="blog-one__person">
                                            <div class="blog-one__person-content">
                                                <p><%- contactGroupCompanies.box1.address %> <br><%- contactGroupCompanies.box1.city %> <br> <%- contactGroupCompanies.box1.country %> <br>email:<%- contactGroupCompanies.box1.Email %> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <!--Blog One Start-->
                                <div class="blog-one__single">
                                    <div class="blog-one__img">
                                        <img src="assets/images/contact-us/india.png" alt="">
                                    </div>
                                    <div class="blog-one__content">
                                        <h3 class="blog-one__title">
                                            <a href="#"><%- contactGroupCompanies.box2.name %></a>
                                        </h3>
                                        <div class="blog-one__person">
                                            <div class="blog-one__person-content">
                                                <p><%- contactGroupCompanies.box2.address %>
                                                   <br> <%- contactGroupCompanies.box2.city %> <br><%- contactGroupCompanies.box2.country %> <br>email:<%- contactGroupCompanies.box1.Email %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                
                                <!--Blog One Start-->
                                <div class="blog-one__single">
                                    <div class="blog-one__img">
                                        <img src="assets/images/contact-us/bangaladesh.png" alt="">
                                    </div>
                                    <div class="blog-one__content">
                                        <h3 class="blog-one__title">
                                            <a href="#">SUNMAS  <br> PTE LTD</a>
                                        </h3>
                                        <div class="blog-one__person">
                                            <div class="blog-one__person-content">
                                                <p><%- contactGroupCompanies.box3.address %> <br>  <%- contactGroupCompanies.box3.city %> <br> <%- contactGroupCompanies.box1.country %> <br>email:<%- contactGroupCompanies.box1.Email %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        <!--Blog Page End-->
        <!--Contact One Start-->
        <section class="contact-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="contact-one__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Get in touch with us</span>
                                <h2 class="section-title__title">Innovative Technologies & Solutions</h2>
                            </div>
                            <ul class="contact-one__images list-unstyled">
                                <li>
                                </li>
                            </ul>
                            <p class="contact-one__text">Our service sector can offer consulting services to industries, helping them understand their specific waste water treatment needs, evaluating existing treatment systems, and recommending tailored solutions to enhance efficiency and compliance with regulations.</p>
                            <ul class="list-unstyled contact-one__points">
                                <li>
                                    <div class="icon">
                                        <span class="icon-draw-check-mark"></span>
                                    </div>
                                    <div class="text">
                                        <p>Customized Solution</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-draw-check-mark"></span>
                                    </div>
                                    <div class="text">
                                        <p>Reliable and Efficient</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-draw-check-mark"></span>
                                    </div>
                                    <div class="text">
                                        <p>Expert support</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="contact-one__right wow slideInRight" data-wow-delay="100ms"
                            data-wow-duration="2500ms">
                            <form action="index.html" method="post" class="contact-one__right-form">
                                <input type="text" placeholder="Your name" name="name">
                                <input type="email" placeholder="Email address" name="email">
                                <input type="text" placeholder="Phone" name="phone">
                                <textarea name="message" placeholder="Write a message"></textarea>
                                <button type="submit" class="thm-btn contact-one__btn">send a message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact One End-->

        <%- include('partials/footer') %>
