<%- include('partials/header') %>


	<body>
		<%- include('partials/navbar') %>

			<!--Page Header Start-->
			<section class="page-header">
				<div class="page-header-bg"
					style="background-image: url(assets/images/backgrounds/page-header-bg3.webp)">
				</div>
				<div class="page-header-border"></div>
				<div class="page-header-border page-header-border-two"></div>
				<div class="page-header-border page-header-border-three"></div>
				<div class="page-header-border page-header-border-four"></div>
				<div class="page-header-border page-header-border-five"></div>
				<div class="page-header-border page-header-border-six"></div>

				<div class="page-header-shape-1"></div>
				<div class="page-header-shape-2"></div>
				<div class="page-header-shape-3"></div>

				<div class="container">
					<div class="page-header__inner">
						<ul class="thm-breadcrumb list-unstyled">
							<li><a href="index.html">Home</a></li>
							<li><a href="services.html">Services</a></li>
							<li>services Details</li>
						</ul>
						<h2>Oil and Gas</h2>
					</div>
				</div>
			</section>
			<!--Page Header End-->

			<!--Service Details Start-->
			<section class="service-details">
				<div class="container">
					<div class="row">
						<div class="col-xl-4 col-lg-5">
							<div class="service-details__sidebar">
								<div class="service-details__need-help">
									<div class="service-details__need-help-bg"
										style="background-image: url(assets/images/backgrounds/service-details-need-help-bg.jpg)">
									</div>
									<div class="service-details__need-help-icon">
										<span class="icon-chatting"></span>
									</div>
									<h2 class="service-details__need-help-title">Best Quality <br> services</h2>
									<div class="service-details__need-help-contact">
										<p>Call us Anytime</p>
										<a href="tel:926668880000">+65 63223414</a>
									</div>
								</div>
								<div class="service-details__download">
									<a href="#" class="service-details__download-btn">Download our broucher</a>
								</div>
							</div>
						</div>
						<div class="col-xl-8 col-lg-7">
							<div class="service-details__right">
								<div class="service-details__img">
									<img src="assets/images/resources/02.webp" alt="">
								</div>
								<div class="service-details__content">
									<h2 class="service-details__title">Oil and Gas</h2>
									<p class="service-details__text-1">It is a long established fact that a reader will
										be
										distracted by the readable content of a page when looking at its layout. The
										point
										of using Lorem Ipsum is that it has a more-or-less normal distribution of
										letters,
										as opposed to using 'Content here, content here', making it look like readable
										English. Many desktop publishing packages and web page editors now use Lorem
										Ipsum
										as their default model text, and a search for 'lorem ipsum' will uncover many
										web
										sites still in their infancy.</p>
								</div>

								<div class="service-details__bottom">
									<ul class="list-unstyled service-details__bottom-list">
										<li class="service-details__bottom-single">
											<div class="service-details__bottom-icon">
												<span class="icon-increment"></span>
												<h4 class="service-details__bottom-title"><%-
													oilAndGasServices.box1.title %></h4>
												<p class="service-details__bottom-text"><%-
													oilAndGasServices.box1.content %></p>
											</div>
										</li>
										<li class="service-details__bottom-single">
											<div class="service-details__bottom-icon">
												<span class="icon-front-end"></span>
												<h4 class="service-details__bottom-title"><%-
														oilAndGasServices.box2.title %></h4>
												<p class="service-details__bottom-text"><%-
														oilAndGasServices.box2.content %></p>
											</div>
										</li>
										<li class="service-details__bottom-single">
											<div class="service-details__bottom-icon">
												<span class="icon-investigation"></span>
												<h4 class="service-details__bottom-title"><%-
														oilAndGasServices.box3.title %></h4>
												<p class="service-details__bottom-text"><%-
														oilAndGasServices.box3.content %></p>
											</div>
										</li>
									</ul>
								</div>
								<div class="service-details__benefits">
									<div class="row">
										<div class="col-xl-6">
											<div class="service-details__benefits-content">
												<h3 class="service-details__benefits-title"><%- oilAndGasBenefits.title %></h3>
												<p class="service-details__benefits-text"><%- oilAndGasBenefits.content %></p>
												<ul class="list-unstyled service-details__benefits-list">
													<li>
														<div class="icon">
															<span class="icon-draw-check-mark"></span>
														</div>
														<div class="text">
															<p><%- oilAndGasBenefits.p1 %></p>
														</div>
													</li>
													<li>
														<div class="icon">
															<span class="icon-draw-check-mark"></span>
														</div>
														<div class="text">
															<p><%- oilAndGasBenefits.p2 %></p>
														</div>
													</li>
													<li>
														<div class="icon">
															<span class="icon-draw-check-mark"></span>
														</div>
														<div class="text">
															<p><%- oilAndGasBenefits.p3 %></p>
														</div>
													</li>
													<li>
														<div class="icon">
															<span class="icon-draw-check-mark"></span>
														</div>
														<div class="text">
															<p><%- oilAndGasBenefits.p4 %></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-xl-6">
											<div class="service-details__benefits-img">
												<img src="assets/images/resources/service-details__benefits-img.jpg"
													alt="">
											</div>
										</div>
									</div>
								</div>
								<div class="service-details__faq">
									<div class="accrodion-grp" data-grp-name="faq-one-accrodion">
										<div class="accrodion active">
											<div class="accrodion-title">
												<h4><%- oilAndGasDropdown.box1.title %></h4>
											</div>
											<div class="accrodion-content">
												<div class="inner">
													<p><%- oilAndGasDropdown.box1.content %></p>
												</div><!-- /.inner -->
											</div>
										</div>
										<div class="accrodion">
											<div class="accrodion-title">
												<h4><%- oilAndGasDropdown.box2.title %></h4>
											</div>
											<div class="accrodion-content">
												<div class="inner">
													<p><%- oilAndGasDropdown.box2.content %></p>
												</div><!-- /.inner -->
											</div>
										</div>
										<div class="accrodion last-chiled">
											<div class="accrodion-title">
												<h4><%- oilAndGasDropdown.box3.title %></h4>
											</div>
											<div class="accrodion-content">
												<div class="inner">
													<p><%- oilAndGasDropdown.box3.content %></p>
												</div><!-- /.inner -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--Service Details End-->
			<!--Similar Work Start-->
			<section class="similar-work">
				<div class="container">
					<div class="section-title text-center">
						<span class="section-title__tagline">Waste Water Treatment</span>
						<h2 class="section-title__title">Categories</h2>
					</div>
					<div class="row">
						<div class="col-xl-3 col-lg-3">
							<!--Portfolio One Single-->
							<div class="project-one__single">
								<div class="project-one__img">
									<img src="assets/images/resources/project-page-img-4.jpg" alt="">
									<div class="project-one__hover">
										<p class="project-one__tagline">Water Treatment</p>
										<h3 class="project-one__title"><a href="project-details.html">Sewage Treatment
												Plant</a>
										</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3">
							<!--Portfolio One Single-->
							<div class="project-one__single">
								<div class="project-one__img">
									<img src="assets/images/resources/project-page-img-6.jpg" alt="">
									<div class="project-one__hover">
										<p class="project-one__tagline">Water Treatment</p>
										<h3 class="project-one__title"><a href="project-details.html">Recycling
												Plant</a>
										</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4">
							<!--Portfolio One Single-->
							<div class="project-one__single">
								<div class="project-one__img">
									<img src="assets/images/resources/project-page-img-5.jpg" alt="">
									<div class="project-one__hover">
										<p class="project-one__tagline">Water Treatment</p>
										<h3 class="project-one__title"><a href="project-details.html">Desalination
												Plant</a>
										</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4">
							<!--Portfolio One Single-->
							<div class="project-one__single">
								<div class="project-one__img">
									<img src="assets/images/resources/project-page-img-7.jpg" alt="">
									<div class="project-one__hover">
										<p class="project-one__tagline">Water Treatment</p>
										<h3 class="project-one__title"><a href="project-details.html">Sludge
												Treatment</a>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--Similar Work End-->


			<%- include('partials/footer') %>