<%- include('partials/header') %>


<body>
    <%- include('partials/navbar') %>


        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.webp)">
            </div>
            <div class="page-header-border"></div>
            <div class="page-header-border page-header-border-two"></div>
            <div class="page-header-border page-header-border-three"></div>
            <div class="page-header-border page-header-border-four"></div>
            <div class="page-header-border page-header-border-five"></div>
            <div class="page-header-border page-header-border-six"></div>

            <div class="page-header-shape-1"></div>
            <div class="page-header-shape-2"></div>
            <div class="page-header-shape-3"></div>

            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Services</li>
                    </ul>
                    <h2>Services</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Start Services Three-->
        <section class="services-three">
            <div class="container">
                <div class="row">
                    <!--Start Services Three Single-->
                    <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="0ms">
                        <div class="services-three__single">
                            <div class="services-three__single-img">
                                <div class="services-three__single-img-inner">
                                    <img src="assets/images/update1.0/services/services-v3-img1.jpg" alt="" />
                                </div>
                                <div class="services-three__icon">
                                    <span class="icon-online-shopping"></span>
                                </div>
                            </div>
                            <div class="services-three__single-content">
                                <h2 class="services-three__title"><a href="wastewatertreatment.html"><%- ourBusinessServices.box1.title %>  <br> |</a></h2>
                                <p class="services-three__text"><%- ourBusinessServices.box1.content %></p>
                                <a class="services-three__arrow" href="wastewatertreatment.html"><span
                                        class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--End Services Three Single-->
                    <!--Start Services Three Single-->
                    <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="200ms">
                        <div class="services-three__single">
                            <div class="services-three__single-img">
                                <div class="services-three__single-img-inner">
                                    <img src="assets/images/update1.0/services/services-v3-img2.jpg" alt="" />
                                </div>
                                <div class="services-three__icon">
                                    <span class="icon-growth"></span>
                                </div>
                            </div>
                            <div class="services-three__single-content">
                                <h2 class="services-three__title"><a href="oilandgas.html"><%- ourBusinessServices.box2.title %> <br> |</a></h2>
                                <p class="services-three__text"><%- ourBusinessServices.box2.content %></p>
                                <a class="services-three__arrow" href="oilandgas.html"><span
                                        class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--End Services Three Single-->
                    <!--Start Services Three Single-->
                    <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="400ms">
                        <div class="services-three__single">
                            <div class="services-three__single-img">
                                <div class="services-three__single-img-inner">
                                    <img src="assets/images/update1.0/services/services-v3-img3.jpg" alt="" />
                                </div>
                                <div class="services-three__icon">
                                    <span class="icon-webpage"></span>
                                </div>
                            </div>
                            <div class="services-three__single-content">
                                <h2 class="services-three__title"><a href="generalindustries.html"><%- ourBusinessServices.box3.title %><br> | </a></h2>
                                <p class="services-three__text"><%- ourBusinessServices.box3.content %></p>
                                <a class="services-three__arrow" href="generalindustries.html"><span
                                        class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--End Services Three Single-->
                </div>
            </div>
        </section>
        <!--End Services Three-->


        <!--CTA One Start-->
        <section class="cta-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="cta-one__inner wow fadeInUp" data-wow-delay="100ms" data-wow-duration="2500ms">
                            <div class="cta-one-shape-1"></div>
                            <div class="cta-one-shape-2"></div>
                            <div class="cta-one-shape-3"></div>
                            <div class="cta-one__left">
                                <h2 class="cta-one__title">With our extensive experience in <br> undertaking various scale of projects</h2>
                            </div>
                            <div class="cta-one__right">
                                <a href="contact.html" class="cta-one__btn thm-btn">let’s get started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--CTA One End-->


        <%- include('partials/footer') %>
