<%- include('partials/header') %>


<body>
    <%- include('partials/navbar') %>


		<!--Page Header Start-->
		<section class="page-header">
			<div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg4.webp)">
			</div>
			<div class="page-header-border"></div>
			<div class="page-header-border page-header-border-two"></div>
			<div class="page-header-border page-header-border-three"></div>
			<div class="page-header-border page-header-border-four"></div>
			<div class="page-header-border page-header-border-five"></div>
			<div class="page-header-border page-header-border-six"></div>

			<div class="page-header-shape-1"></div>
			<div class="page-header-shape-2"></div>
			<div class="page-header-shape-3"></div>

			<div class="container">
				<div class="page-header__inner">
					<ul class="thm-breadcrumb list-unstyled">
						<li><a href="index.html">Home</a></li>
						<li><a href="services.html">Services</a></li>
						<li>services Details</li>
					</ul>
					<h2>Water & Wastewater Treatment</h2>
				</div>
			</div>
		</section>
		<!--Page Header End-->

		<!--Service Details Start-->
		<section class="service-details">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-5">
						<div class="service-details__sidebar">
							<div class="service-details__need-help">
								<div class="service-details__need-help-bg"
									style="background-image: url(assets/images/backgrounds/service-details-need-help-bg.jpg)">
								</div>
								<div class="service-details__need-help-icon">
									<span class="icon-chatting"></span>
								</div>
								<h2 class="service-details__need-help-title">Best Quality <br> services</h2>
							</div>
							<div class="service-details__download">
								<a href="#" class="service-details__download-btn">Download our broucher</a>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-7">
						<div class="service-details__right">
							<div class="service-details__content">
								<h2 class="service-details__title">1.<%- wasteWaterTreatmentServices.box1.title %></h2>
								<div class="service-details__img"><img src="assets/images/resources/service-details-img-5.jpg" alt=""></div>
								<p class="service-details__text-1"><%- wasteWaterTreatmentServices.box1.content %></p>
							</div>

							<div class="service-details__content">
								<h2 class="service-details__title">2.<%- wasteWaterTreatmentServices.box2.title %></h2>
								<div class="service-details__img"><img src="assets/images/resources/sludge.webp" alt=""></div>
								<p class="service-details__text-1"><%- wasteWaterTreatmentServices.box2.content %></p>
							</div>

							<div class="service-details__content">
								<h2 class="service-details__title">3.<%- wasteWaterTreatmentServices.box3.title %></h2>
								<div class="service-details__img"><img src="assets/images/resources/Recycle.webp" alt=""></div>
								<p class="service-details__text-1"><%- wasteWaterTreatmentServices.box3.content %></p>
							</div>

							<div class="service-details__content">
								<h2 class="service-details__title">4.<%- wasteWaterTreatmentServices.box4.title %></h2>
								<div class="service-details__img"><img src="assets/images/resources/desalination.webp" alt=""></div>
								<p class="service-details__text-1"><%- wasteWaterTreatmentServices.box4.content %></p>
							</div>

							<div class="service-details__content">
								<h2 class="service-details__title">5.<%- wasteWaterTreatmentServices.box5.title %></h2>
								<div class="service-details__img"><img src="assets/images/resources/sludgetreatment.webp" alt=""></div>
								<p class="service-details__text-1"><%- wasteWaterTreatmentServices.box5.content %></p>
							</div>

							<div class="service-details__content">
								<h2 class="service-details__title">6.<%- wasteWaterTreatmentServices.box6.title %></h2>
								<div class="service-details__img"><img src="assets/images/resources/industrialtreatment.webp" alt=""></div>
								<p class="service-details__text-1"><%- wasteWaterTreatmentServices.box6.content %></p>
							</div>

							<div class="service-details__content">
								<h2 class="service-details__title">7.<%- wasteWaterTreatmentServices.box7.title %></h2>
								<div class="service-details__img"><img src="assets/images/resources/oandm.webp" alt=""></div>
								<p class="service-details__text-1"><%- wasteWaterTreatmentServices.box7.content %></p>
							</div>







									
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Service Details End-->
		        <!--Similar Work Start-->
				<section class="similar-work">
					<div class="container">
						<div class="section-title text-center">
							<span class="section-title__tagline">Waste Water Treatment</span>
							<h2 class="section-title__title">Categories</h2>
						</div>
						<div class="row">
							<div class="col-xl-3 col-lg-3">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-4.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="project-details.html">Sewage Treatment Plant</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-6.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="project-details.html">Recycling Plant</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-5.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="project-details.html">Desalination Plant</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-7.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="project-details.html">Sludge Treatment</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Similar Work End-->

				<%- include('partials/footer') %>
